body {
  font-family: "Ubuntu", "Montserrat", "Open sans", sans-serif;
  margin: 0px;
}

div,
p,
input,
button,
form,
p,
li,
ul,
a {
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 30px;
}

li {
  list-style: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
  padding-bottom: 150px;

  color: #ffffff;
  padding: 66px;
  background: rgba(78, 189, 254, 1);
  background: -moz-linear-gradient(-45deg,
      rgba(78, 189, 254, 1) 0%,
      rgba(55, 144, 217, 1) 100%);
  background: -webkit-gradient(left top,
      right bottom,
      color-stop(0%, rgba(78, 189, 254, 1)),
      color-stop(100%, rgba(55, 144, 217, 1)));
  background: -webkit-linear-gradient(-45deg,
      rgba(78, 189, 254, 1) 0%,
      rgba(55, 144, 217, 1) 100%);
  background: -o-linear-gradient(-45deg,
      rgba(78, 189, 254, 1) 0%,
      rgba(55, 144, 217, 1) 100%);
  background: -ms-linear-gradient(-45deg,
      rgba(78, 189, 254, 1) 0%,
      rgba(55, 144, 217, 1) 100%);
  background: linear-gradient(135deg,
      rgba(78, 189, 254, 1) 0%,
      rgba(55, 144, 217, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ebdfe', endColorstr='#3790d9', GradientType=1);
}

.header h1 {
  font-size: 37px;
  line-height: 1.5;
}

.bigger {
  font-size: 59px;
}

.header p {
  font-size: 16px;
  font-family: "Open sans";
  width: 400px;
  line-height: 2;
}

.header-picture {
  width: 645px;
}

.header-logo {
  width: 98px;
}

.btn {
  font-size: 15px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  width: 222px;
  height: 55px;
  background-color: #ffd429;
  border: none;
}


.wrapper {
  display: flex;
  justify-content: space-between;
}

.header .wrapper {
  align-items: center;
  padding-top: 130px;
}

.item {
  width: 260px;

  text-align: center;
  line-height: 1.6;

}

.item1 {
  margin-top: 5px;
}

.item h3 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 19px;
}

.item p {
  font-size: 15px;
}

.future h2 {
  margin-bottom: 75px;
}

.future {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacts-input {
background-color: #ecf2f8;
padding-top: 105px;
padding-bottom: 105px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
   padding-top: 60px; 
  /* margin-top: 60px; */
}

.contacts input {
  width: 340px;
  height: 40px;
  font-size: 15px;
  padding: 16px 23px;
  margin-bottom: 16px;
}

.contacts .btn {
  width: 340px;
}


footer {
  background-color: #164d7a;
  font-size: 14px;
  font-family: "Open sans";
  color: #ffffff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}